 <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Travel Hero BD <div class="underline"><span></span></div></h4>
                    <p>Travel Hero BD is dedicated to Tourism Industry in Bangladesh focusing on Tour Information, Hiring Tour Guides, Online Hotel Booking, E-Ticket service, Hot Tourist Spots and many more. We are working to develop a sustainable e-Tourism Platform in Bangladesh.</p><br>
                </div>
                <div class="footer-col">
                    <h4>Quick Links <div class="underline"><span></span></div></h4>
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="guide">Guide</a></li>
                        <li><a href="">Tour Packages</a></li>
                        <li><a href="travel">Travel</a></li>
                        <li><a href="">Hotel Booking</a></li>
                        <li><a href="about">About</a>
                        <li><a href="about">contact us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About Bangladesh <div class="underline"><span></span></div></h4>
                    <ul>
                        <li><a href="">History</a></li>
                        <li><a href="">Map</a></li>
                        <li><a href="">Geography</a></li>
                        <li><a href="">Weather</a></li>
                        <li><a href="">Art & Culture</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us <div class="underline"><span></span></div></h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>