<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL HERO</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/1f3955d500.js" crossorigin="anonymous"></script>
    <!-- slider script -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    
</head>
<body>
   
    <section class="header">
         {{>navbar}}
        <!-- Text box Bangladesh -->
        <div class="textbox">
            <h1>BANGLADESH</h1>
            <p>Bangladesh, to the east of India on the Bay of Bengal, is a South Asian country marked by lush greenery and many waterways.Its Padma (Ganges), Meghna and Jamuna rivers create fertile plains, and travel by boat is common.On the southern coast, the Sundarbans, an enormous mangrove forest shared with Eastern India, is home to the royal Bengal tiger.
                <br><a href="about" class="hero-btn">Visit Us To Know More</a>
            </p>
            
        </div>
    </section>

    <!-- Guide -->

    <section class="guide">
        <h1>Travel <span>Guides</span></h1>
        <div class="wrapper">
            <div class="carousel owl-carousel">
                <div class="card card-1">
                    <div class="guide-row">
                        <div class="guide-col">
                            <div class="guide-img">
                                <img src="images/messbaul.jpg" alt="">
                            </div>
                            <h3>Messbaul A.</h3><span>Dhaka, Bangladesh</span>
                            <p><b>Languages: </b>Bengali (fluent), English (advanced), Hindi (basic)</p>
                            <p><b>Biography: </b>Hi, I welcome you all to visit Bangladesh, the home of Royal Bengal Tiger (Biggest cat of the earth). I ensure a smooth and memorable trip for you in Bangladesh!</p>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="guide-row">
                        <div class="guide-col">
                            <div class="guide-img">
                                <img src="images/sakib.jpg" alt="">
                            </div>
                            <h3>Sakib Bilshan S.</h3><span>Dhaka, Bangladesh</span>
                            <p><b>Languages: </b>Spanish (basic), Hindi (conversational), Bengali (fluent), English (advanced)</p>
                            <p><b>Biography: </b>Hello, this is Sakib, a tour guide who wants to manage all measures to make the best of your tour with full enthusiasm and professionalism. I have an experience of two and a half years as a Tourist guide. I'm completing my graduation in a national university.</p>
                        </div>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="guide-row">
                        <div class="guide-col">
                            <div class="guide-img">
                                <img src="images/faisal.jpg" alt="">
                            </div>
                            <h3>Faisal M.</h3><span>Chittagong, Bangladesh</span>
                            <p><b>Languages: </b>English (advanced)</p>
                            <p><b>Biography: </b>I feel traveling is like eating food. Even when I am at home, I go out with my bicycle to enjoy the never-ending world's beauty. So, my deep love of traveling motivated me to become a full-time professional tour guide.</p>
                        </div>
                    </div>
                </div>
                <div class="card card-4">
                    <div class="guide-row">
                        <div class="guide-col">
                            <div class="guide-img">
                                <img src="images/rahaat.jpg" alt="">
                            </div>
                            <h3>Rahaat R.</h3><span>Sylhet, Bangladesh</span>
                            <p><b>Languages: </b>English (fluent), Bengali (fluent), Hindi (conversational)</p>
                            <p><b>Biography: </b>My name is Rahaat. I am from Sylhet, Bangladesh and eagerly waiting to show you the natural and cultural beauty of my city.</p>
                        </div>
                    </div>
                </div>
                <div class="card card-5">
                    <div class="guide-row">
                        <div class="guide-col">
                            <div class="guide-img">
                                <img src="images/gopi.jpg" alt="">
                            </div>
                            <h3>Gopi M.</h3><span>Khulna, Bangladesh</span>
                            <p><b>Languages: </b>Hindi (basic), Bengali (fluent), English (conversational)</p>
                            <p><b>Biography: </b>Welcome to Bangladesh. I'm Gopi. I am an experienced and enthusiastic nationally accredited and qualified guide offering private tours in Bangladesh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="guide">
        <h1>Tour Guides For You</h1>
        <p>We offer you district wise tour guides. Our guides provide visitors relevant and exciting information about the places and keep the tour safe,organized,productive. Our tour guide will helps you explore the unexplored streets, corners, food joints, and architectural structures, cultural and historical information. They also help you see the best version of the country you are visiting.</p>
        <div class="guide-row">
            <div class="guide-col">
                <div class="guide-img">
                    <img src="images/people.jpg" alt="">
                </div>
                <h3>Messbaul A.</h3><span>Dhaka, Bangladesh</span>
                <p><b>Languages: </b>Bengali (fluent), English (advanced), Hindi (basic)</p>
                <p><b>Biography: </b>Hi, I welcome you all to visit Bangladesh, the home of Royal Bengal Tiger (Biggest cat of the earth). I ensure a smooth and memorable trip for you in Bangladesh!</p>
            </div>
            <div class="guide-col">
                <div class="guide-img">
                    <img src="images/people.jpg" alt="">
                </div>
                <h3>Sakib Bilshan S.</h3><span>Dhaka, Bangladesh</span>
                <p><b>Languages: </b>Spanish (basic), Hindi (conversational), Bengali (fluent), English (advanced)</p>
                <p><b>Biography: </b>Hello, this is Sakib, a tour guide who wants to manage all measures to make the best of your tour with full enthusiasm and professionalism. I have an experience of two and a half years as a Tourist guide. I'm completing my graduation in a national university.</p>
            </div>
            <div class="guide-col">
                <div class="guide-img">
                    <img src="images/people.jpg" alt="">
                </div>
                <h3>Faisal M.</h3><span>Chittagong, Bangladesh</span>
                <p><b>Languages: </b>English (advanced)</p>
                <p><b>Biography: </b>I feel traveling is like eating food. Even when I am at home, I go out with my bicycle to enjoy the never-ending world's beauty. So, my deep love of traveling motivated me to become a full-time professional tour guide.</p>
            </div>
            <div class="guide-col">
                <div class="guide-img">
                    <img src="images/people.jpg" alt="">
                </div>
                <h3>Rahaat R.</h3><span>Sylhet, Bangladesh</span>
                <p><b>Languages: </b>English (fluent), Bengali (fluent), Hindi (conversational)</p>
                <p><b>Biography: </b>My name is Rahaat. I am from Sylhet, Bangladesh and eagerly waiting to show you the natural and cultural beauty of my city.</p>
            </div>
            <div class="guide-col">
                <div class="guide-img">
                    <img src="images/people.jpg" alt="">
                </div>
                <h3>Gopi M.</h3><span>Khulna, Bangladesh</span>
                <p><b>Languages: </b>Hindi (basic), Bengali (fluent), English (conversational)</p>
                <p><b>Biography: </b>Welcome to Bangladesh. I'm Gopi. I am an experienced and enthusiastic nationally accredited and qualified guide offering private tours in Bangladesh.</p>
            </div>
            
        </div>
        <a href="#" class="guide-btn">Click Here <i class="fa-solid fa-arrow-right"></i></a>
    </section> -->

    <!-- Division of BANGLADESH -->

    <section class="division">
        <h1>Division of BANGLADESH</h1>
        <div class="division-row">
            <div class="division-col">
                <h3>DHAKA</h3>
                <p>Dhaka is the capital city of Bangladesh, in southern Asia. Set beside the Buriganga River, it’s at the center of national government, trade and culture. The 17th-century old city was the Mughal capital of Bengal, and many palaces and mosques remain. American architect Louis Khan’s National Parliament House complex typifies the huge, fast-growing modern metropolis.</p>
                <a href="dhaka"><img src="images/Lalbag_Kella_01.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>CHATTOGRAM</h3>
                <p>Chittagong is large port city on the southeastern coast of Bangladesh. The Ethnological Museum has exhibits about the many different ethnic tribes across the country. Zia Memorial Museum, inside the former Old Circuit House, displays items belonging to former president Ziaur Rahman, who was assassinated on the site in 1981. The landmark Chandanpura Mosque has many onion-shaped domes and brightly painted minarets.</p>
                <a href="chattogram"><img src="images/chattagram.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>RAJSHAHI</h3>
                <p>Rajshahi is a metropolitan city and a major urban, commercial and educational centre of Bangladesh. It is also the administrative seat of the eponymous division and district. Located on the north bank of the Padma River, near the Bangladesh-India border, the city has a population of over 763,580 residents.</p>
                <a href="rajshahi"><img src="images/Choto-Sona-Mosjid.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>KHULNA</h3>
                <p>Khulna is the third-largest city in Bangladesh, after Dhaka and Chittagong. It is the administrative centre of Khulna District and Khulna Division. Khulna's economy is the third-largest in Bangladesh, contributing $53 billion in gross state product and $95 billion in purchasing power parity in 2020.</p>
                <a href="khulna"><img src="images/khulna-sundarban.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>BARISHAL</h3>
                <p>Barishal is a major city that lies on the banks of the Kirtankhola river in south-central Bangladesh. It is the largest city and the administrative headquarter of both Barisal District and Barisal Division. It is one of the oldest municipalities and river ports of the country.</p>
                <a href="barishal"><img src="images/barishal.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>SYLHET</h3>
                <p>Sylhet is a city in eastern Bangladesh, on the Surma River. It’s known for its Sufi shrines, like the ornate tomb and mosque of 14th-century saint Hazrat Shah Jalal, now a major pilgrimage site near Dargah Gate. The tiny Museum of Rajas contains belongings of the local folk poet Hasan Raja. A 3-domed gateway stands at the 17th-century Shahi Eidgah, a huge open-air hilltop mosque built by Emperor Aurangzeb.</p>
                <a href="sylhet"><img src="images/sylhet.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>RANGPUR</h3>
                <p>Rangpur is one of the major cities in Bangladesh and Rangpur Division. Rangpur was declared a district headquarters on December 16, 1769, and established as a municipality in 1869, making it one of the oldest municipalities in Bangladesh.</p>
                <a href="rangpur"><img src="images/rangpur.jpg" alt=""></a>
            </div>
            <div class="division-col">
                <h3>MYMENSINGH</h3>
                <p>Mymensingh is the capital of Mymensingh Division, Bangladesh. Located on the bank of Brahmaputra River, about 120 km north of the national capital Dhaka, it is a major financial center and educational hub of north-central Bangladesh. The city was constituted by the British East India Company on 1 May,1787.</p>
                <a href="mymensingh"><img src="images/mymensingh-birishiri.jpg" alt=""></a>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>

    <!-- Hotels And Restaurants -->

    <section class="hotels">
        <h1>Hotels And Restaurants</h1>
        <hr>
        <div class="hotels-row">
            <div class="hotels-col">
                <a href=""><img src="images/hotel-dhaka.jpg" alt="Hotel-Dhaka"></a>
                <h3>Hotels in Dhaka</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-chittagong.jpg" alt=""></a>
                <h3>Hotels in Chittagong</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-rajshahi.jpg" alt=""></a>
                <h3>Hotels in Rajshahi</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-khulna.jpg" alt=""></a>
                <h3>Hotels in Khulna</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-barishal.jpg" alt=""></a>
                <h3>Hotels in Barishal</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-sylhet.jpg" alt=""></a>
                <h3>Hotels in Sylhet</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-mymensingh.jpg" alt=""></a>
                <h3>Hotels in Mymensingh</h3>
            </div>
            <div class="hotels-col">
                <a href=""><img src="images/hotel-rangpur.png" alt=""></a>
                <h3>Hotels in Rangpur</h3>
            </div>
        </div>
    </section>

    <!-- Our Services -->

    <section class="services">
        <h1 class="design">
            <span>O</span>
            <span>U</span>
            <span>R</span>
            <span class="space"></span>
            <span>S</span>
            <span>E</span>
            <span>R</span>
            <span>V</span>
            <span>I</span>
            <span>C</span>
            <span>E</span>
            <span>S</span>
        </h1>
        <div class="services-row">
            <div class="services-box">
                <i class="fa-solid fa-person-hiking"></i>
                <h3>Tour Guides</h3>
                <p>By hiring our guides you will be benifitted.</p>
            </div>
            <div class="services-box">
                <i class="fa-solid fa-hotel"></i>
                <h3>Hotel Reservation</h3>
                <p>Anyone will get in touch with there nearest hotels and restaurants and book reservation easily.</p>
            </div>
            <div class="services-box">
                <i class="fa-solid fa-ticket"></i>
                <h3>E-Tickets</h3>
                <p>Providing you the best online ticket buying platform from where you can buy Air,Train and Bus tickets easily.</p>
            </div>
            <div class="services-box">
                <i class="fa-solid fa-photo-film"></i>
                <h3>Photo Gallery</h3>
                <p>Shows you the best photos around Bangladesh.</p>
            </div>
        </div>
    </section>

    <!-- Reviews -->

    <section class="review">
        <h1>What People Says</h1>

        <div class="review-row">
            <div class="review-col">
                <img src="images/people.jpg" alt="people">
                <div>
                    <h3>Andrew kate</h3>
                    <p>Bangladesh is very beautiful</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="review-col">
                <img src="images/people.jpg" alt="people">
                <div>
                    <h3>Prodip Kumar</h3>
                    <p>I love Bangladesh very much.</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
            <div class="review-col">
                <img src="images/people.jpg" alt="people">
                <div>
                    <h3>Farian Khan</h3>
                    <p>Bangladesh is not a rich country, but people have a big heart</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer -->

   {{>footer}}

<!-- JavaScript for toggle menu -->


<script>
    var Navlink = document.getElementById("Navlink");
    function showmenu(){
        Navlink.style.right = "0";
    }
    function hidemenu(){
        Navlink.style.right = "-200px";
    }
</script>

<!-- For Guide Carousel -->

<script>
    $ (".carousel").owlCarousel({
        margin: 10,
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        responsive: {
            0:{
                items: 1,
                nav: false
            },
            600:{
                items: 2,
                nav: false
            },
            1000:{
                items: 3,
                nav: false
            }
        }
    });
</script>

</body>
</html>